<div class="container">
    <form class="flex-post-form">
        <div class="form-group">
            <label>Project Name:</label>
            <input type="text" class="form-control" id="project">
        </div>
        <div class="form-group">
            <label>DAW</label>
            <input type="text" class="form-control" id="daw">
        </div>
        <div class="form-group">
            <label>Style</label>
            <input type="text" class="form-control" id="style" />
        </div>
        <div class="form-group">
            <label>Instruments</label>
            <input type="text" class="form-control" id="instruments" />
        </div>
        <div class="form-group">
            <label for="comment">Comments: </label>
            <textarea class="form-control" rows="6" id="comment"></textarea>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value=""> Private</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>